
.main {
  padding: 30px 40px;
}

.main h1 {
  margin-bottom: 6px;
  font-size: 26px;
  text-align: left;
}

.summary-link {
  font-size: 14px;
  color: #3f80ff;
  display: inline-block;
  margin-bottom: 30px;
  text-decoration: none;
}

.profile-section {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  background: #ccc;
  border-radius: 50%;
  margin-right: 20px;
}

.profile-info h2 {
  font-size: 20px;
  margin:0px;
  
}

.skills-overview {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.skill-box {
  background: #fff;
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.05);
  text-align: center;
}

.skill-box h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.skill-box p {
  font-size: 20px;
  font-weight: bold;
}

.assessments h2 {
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab {
  padding: 8px 16px;
  border-radius: 6px;
  background: #f1f1f1;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.tab.active {
  background: #d4f3dc;
  color: #2d7a41;
}

.assessment-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.assessment-table th,
.assessment-table td {
  padding: 16px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.status {
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 13px;
}

.completed {
  background: #d4f3dc;
  color: #2d7a41;
}

.in-progress {
  background: #fff4d1;
  color: #a67c00;
}

.not-started {
  background: #f0f0f0;
  color: #888;
}
