


.onboarding-main {
  padding: 40px;
  max-width: 800px;
  margin: auto;
}

.back-arrow {
  font-size: 24px;
  cursor: pointer;
  margin-bottom: 20px;
}

.onboarding-main h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}


.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 700px;
  justify-content: center;
}

.skill-card {
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 21px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  justify-content: center;
 
}
/*try*/
.skill-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.skill-link:visited,
.skill-link:hover,
.skill-link:focus,
.skill-link:active {
  text-decoration: none;
  color: inherit;
}

.skill-name {
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
}


.skill-card:hover {
  background: #f5faff;
  border-color: #03a9f4;
}

.skill-card.selected {
  background-color: #f0f4ff;
  border-color: #03a9f4;
  text-decoration: none;
}




#next-btn {
  margin-top: 50px;
  background :#0A80ED;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 500;
  }

  .next-button-container {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
  }



.skill-card  {
  background: #fff; 
  border-radius: 12px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.8rem;
  transition: transform 0.2s ease;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.skill-card:hover {
  transform: translateY(-3px);
}



@media (max-width: 1024px) {
  .skill-card {
    padding: 0.9rem;
    font-size: 0.95rem;
  }
}

/*  Mobile  */
@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: 1fr;
  }

  .skill-card {
    width: 100%;
    padding: 0.8rem;
    font-size: 0.9rem;
  }
}




@media (max-width: 480px) {
  .skill-card {
    padding: 0.7rem;
    font-size: 0.85rem;
  }
}
