

/* Fade-in Animation */
.fade-in {
  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reset-container {
  max-width: 500px;
   margin:  10rem 30rem;
  padding: 80px 80px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  background-color: #ffffff;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 1.1;
}

.subtitle {
  text-align: center;
  font-size: 16px;
  color: #444;
  font-weight: 400;
  margin-bottom: 40px;
}

.label {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  display: block;
  padding-left: 1rem;
  color: #2a3442;
}

.input {
  width: 80%;
  padding: 25px;
  background-color: #e9eef7;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 32px;
  color: #2a3442;
  box-sizing: border-box;
}

input::placeholder {
  color: #485f7a;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

.reset-button {
  width: 80%;
  background-color: #4da6ff;
  color: white;
  padding: 16px;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reset-button:hover {
  background-color: #3399ff;
}




/* Responsiveness */
@media (max-width: 1024px) {
  .reset-container {
    margin: 8rem auto;
    padding: 60px 40px;
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .reset-container {
    margin: 6rem auto;
    padding: 40px 25px;
    max-width: 90%;
  }

  .title {
    font-size: 28px;
  }

  .subtitle {
    font-size: 14px;
    margin-bottom: 30px;
  }

  .input {
    padding: 18px;
    font-size: 16px;
  }

  .reset-button {
    padding: 14px;
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .reset-container {
    margin: 4rem auto;
    padding: 30px 20px;
    max-width: 95%;
  }

  .title {
    font-size: 24px;
  }

  .subtitle {
    font-size: 13px;
  }

  .label {
    font-size: 16px;
  }

  .input {
    padding: 15px;
    font-size: 15px;
  }

  .reset-button {
    padding: 12px;
    font-size: 14px;
  }
}
